@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Nunito;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Nunito;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  width: 100%;
  height: auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 80.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  width: 100%;
  height: 5.25rem;
  z-index: 20;
  background-color: #fff
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: .625rem .9375rem;
  align-items: center
}
.header__logo img {
  max-width: 10.625rem
}
.menu__list {
  display: flex;
  gap: 1.875rem
}
.menu__link {
  position: relative;
  transition: color .3s ease 0s;
  padding-bottom: .125rem
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width .3s ease 0s;
  height: .125rem;
  background-color: #b30027;
  border-radius: .625rem
}
.our-services__body {
  display: flex;
  gap: 3.125rem;
  justify-content: space-around;
  padding: 3.125rem .9375rem;
  align-items: center
}
.our-services__image {
  max-width: 21.25rem
}
.our-services__content {
  max-width: 37.5rem;
  text-align: center
}
.our-services__title {
  font-size: 2.375rem;
  margin-bottom: 1.875rem
}
.our-services__text {
  line-height: 1.5;
  font-size: 1.25rem
}
.our-services__text span {
  font-weight: 700
}
.demo__title {
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
  border-bottom: solid #b30027 4px;
  width: 100%
}
.demo__wrapper {
  display: flex;
  gap: 1.875rem
}
.demo__slide {
  padding-bottom: 1.875rem
}
.demo__image {
  max-width: 21.25rem;
  position: relative
}
.demo__img {
  max-width: 21.25rem;
  border-radius: 40px
}
.demo__sub-title {
  position: absolute;
  left: 30px;
  bottom: 70px;
  width: 100%;
  height: 20px;
  color: #fff
}
.demo__immmggg {
  position: absolute;
  left: 30px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%
}
.demo__text {
  position: absolute;
  text-align: center;
  line-height: 1.5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 1.25rem 1.25rem;
  opacity: 0;
  transition: all .3s;
  background-color: rgba(0,0,0,.4588235294);
  color: #fff;
  border-radius: 40px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (max-width:64.06125em) {
  .our-services__body {
    flex-direction: column
  }
}
@media (max-width:52.625em) {
  .header {
    height: 4.5625rem
  }
  .header__logo img {
    max-width: 8.75rem;
    max-height: 3.3125rem
  }
  .menu__link {
    font-size: 1rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__list {
    flex-direction: column;
    padding-top: 4.375rem;
    align-items: center
  }
  .menu__link {
    font-size: 1.875rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #b30027
  }
  .menu__link:hover::after {
    content: "";
    width: 100%
  }
  .demo__text:hover {
    opacity: 1
  }
}